AplicacionTienditaFinal/src/jbiServiceUnits/ServiciosTienditaFinal/ServicioPagos/localhost_33996/WSPagos/WSPagosConTDC.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://wservices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://wservices/" name="WSPagos">
<types>
<xsd:schema>
<xsd:import namespace="http://wservices/" schemaLocation="http://localhost:33996/WSPagos/WSPagosConTDC?xsd=1"/>
</xsd:schema>
</types>
<message name="remove">
<part name="parameters" element="tns:remove"/>
</message>
<message name="count">
<part name="parameters" element="tns:count"/>
</message>
<message name="countResponse">
<part name="parameters" element="tns:countResponse"/>
</message>
<message name="find">
<part name="parameters" element="tns:find"/>
</message>
<message name="findResponse">
<part name="parameters" element="tns:findResponse"/>
</message>
<message name="create">
<part name="parameters" element="tns:create"/>
</message>
<message name="edit">
<part name="parameters" element="tns:edit"/>
</message>
<message name="findRange">
<part name="parameters" element="tns:findRange"/>
</message>
<message name="findRangeResponse">
<part name="parameters" element="tns:findRangeResponse"/>
</message>
<message name="findAll">
<part name="parameters" element="tns:findAll"/>
</message>
<message name="findAllResponse">
<part name="parameters" element="tns:findAllResponse"/>
</message>
<message name="PagoConTDC">
<part name="parameters" element="tns:PagoConTDC"/>
</message>
<message name="PagoConTDCResponse">
<part name="parameters" element="tns:PagoConTDCResponse"/>
</message>
<message name="disponiblePosteriorAlPAgo">
<part name="parameters" element="tns:disponiblePosteriorAlPAgo"/>
</message>
<message name="disponiblePosteriorAlPAgoResponse">
<part name="parameters" element="tns:disponiblePosteriorAlPAgoResponse"/>
</message>
<portType name="WSPagosConTDC">
<operation name="remove">
<input wsam:Action="http://wservices/WSPagosConTDC/remove" message="tns:remove"/>
</operation>
<operation name="count">
<input wsam:Action="http://wservices/WSPagosConTDC/countRequest" message="tns:count"/>
<output wsam:Action="http://wservices/WSPagosConTDC/countResponse" message="tns:countResponse"/>
</operation>
<operation name="find">
<input wsam:Action="http://wservices/WSPagosConTDC/findRequest" message="tns:find"/>
<output wsam:Action="http://wservices/WSPagosConTDC/findResponse" message="tns:findResponse"/>
</operation>
<operation name="create">
<input wsam:Action="http://wservices/WSPagosConTDC/create" message="tns:create"/>
</operation>
<operation name="edit">
<input wsam:Action="http://wservices/WSPagosConTDC/edit" message="tns:edit"/>
</operation>
<operation name="findRange">
<input wsam:Action="http://wservices/WSPagosConTDC/findRangeRequest" message="tns:findRange"/>
<output wsam:Action="http://wservices/WSPagosConTDC/findRangeResponse" message="tns:findRangeResponse"/>
</operation>
<operation name="findAll">
<input wsam:Action="http://wservices/WSPagosConTDC/findAllRequest" message="tns:findAll"/>
<output wsam:Action="http://wservices/WSPagosConTDC/findAllResponse" message="tns:findAllResponse"/>
</operation>
<operation name="PagoConTDC">
<input wsam:Action="http://wservices/WSPagosConTDC/PagoConTDCRequest" message="tns:PagoConTDC"/>
<output wsam:Action="http://wservices/WSPagosConTDC/PagoConTDCResponse" message="tns:PagoConTDCResponse"/>
</operation>
<operation name="disponiblePosteriorAlPAgo">
<input wsam:Action="http://wservices/WSPagosConTDC/disponiblePosteriorAlPAgoRequest" message="tns:disponiblePosteriorAlPAgo"/>
<output wsam:Action="http://wservices/WSPagosConTDC/disponiblePosteriorAlPAgoResponse" message="tns:disponiblePosteriorAlPAgoResponse"/>
</operation>
</portType>
<binding name="WSPagosConTDCPortBinding" type="tns:WSPagosConTDC">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="remove">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="count">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="find">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="create">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="edit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findRange">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="PagoConTDC">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="disponiblePosteriorAlPAgo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSPagos">
<port name="WSPagosConTDCPort" binding="tns:WSPagosConTDCPortBinding">
<soap:address location="http://localhost:33996/WSPagos/WSPagosConTDC"/>
</port>
</service>
</definitions>