ServiciosTiendita/src/ServicioConsultas/localhost_33996/WSConsultaProduct/WSConsultaProduct.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://wsconsultas/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://wsconsultas/" name="WSConsultaProduct">
<types>
<xsd:schema>
<xsd:import namespace="http://wsconsultas/" schemaLocation="http://localhost:33996/WSConsultaProduct/WSConsultaProduct?xsd=1"/>
</xsd:schema>
</types>
<message name="remove">
<part name="parameters" element="tns:remove"/>
</message>
<message name="count">
<part name="parameters" element="tns:count"/>
</message>
<message name="countResponse">
<part name="parameters" element="tns:countResponse"/>
</message>
<message name="find">
<part name="parameters" element="tns:find"/>
</message>
<message name="findResponse">
<part name="parameters" element="tns:findResponse"/>
</message>
<message name="create">
<part name="parameters" element="tns:create"/>
</message>
<message name="findAll">
<part name="parameters" element="tns:findAll"/>
</message>
<message name="findAllResponse">
<part name="parameters" element="tns:findAllResponse"/>
</message>
<message name="edit">
<part name="parameters" element="tns:edit"/>
</message>
<message name="findRange">
<part name="parameters" element="tns:findRange"/>
</message>
<message name="findRangeResponse">
<part name="parameters" element="tns:findRangeResponse"/>
</message>
<portType name="WSConsultaProduct">
<operation name="remove">
<input wsam:Action="http://wsconsultas/WSConsultaProduct/remove" message="tns:remove"/>
</operation>
<operation name="count">
<input wsam:Action="http://wsconsultas/WSConsultaProduct/countRequest" message="tns:count"/>
<output wsam:Action="http://wsconsultas/WSConsultaProduct/countResponse" message="tns:countResponse"/>
</operation>
<operation name="find">
<input wsam:Action="http://wsconsultas/WSConsultaProduct/findRequest" message="tns:find"/>
<output wsam:Action="http://wsconsultas/WSConsultaProduct/findResponse" message="tns:findResponse"/>
</operation>
<operation name="create">
<input wsam:Action="http://wsconsultas/WSConsultaProduct/create" message="tns:create"/>
</operation>
<operation name="findAll">
<input wsam:Action="http://wsconsultas/WSConsultaProduct/findAllRequest" message="tns:findAll"/>
<output wsam:Action="http://wsconsultas/WSConsultaProduct/findAllResponse" message="tns:findAllResponse"/>
</operation>
<operation name="edit">
<input wsam:Action="http://wsconsultas/WSConsultaProduct/edit" message="tns:edit"/>
</operation>
<operation name="findRange">
<input wsam:Action="http://wsconsultas/WSConsultaProduct/findRangeRequest" message="tns:findRange"/>
<output wsam:Action="http://wsconsultas/WSConsultaProduct/findRangeResponse" message="tns:findRangeResponse"/>
</operation>
</portType>
<binding name="WSConsultaProductPortBinding" type="tns:WSConsultaProduct">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="remove">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="count">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="find">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="create">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="edit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findRange">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSConsultaProduct">
<port name="WSConsultaProductPort" binding="tns:WSConsultaProductPortBinding">
<soap:address location="http://localhost:33996/WSConsultaProduct/WSConsultaProduct"/>
</port>
</service>
</definitions>