PagosTest/tstRMI/xml-resources/web-service-references/casaPort1/wsdl/localhost_9080/CalculatorCAService1/casaPort1(1).wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://j2ee.netbeans.org/wsdl/MyCalculator/src/myCalculator" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="CalculatorCA" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="CalculatorCA">
  <import location="http://LAPTOP-01JLFC6G:9080/CalculatorCA-sun-http-binding/MyCalculator/myCalculator.wsdl" namespace="http://j2ee.netbeans.org/wsdl/MyCalculator/src/myCalculator">
    </import>
  <portType name="dummyCasaPortType">
  </portType>
  <binding name="casaBinding1" type="ns:myCalculatorPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="additionOperation">
      <soap:operation soapAction="addition" style="document"/>
      <input name="input1">
        <soap:body use="literal"/>
      </input>
      <output name="output1">
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="subtractionOperation">
      <soap:operation soapAction="subtraction" style="document"/>
      <input name="input2">
        <soap:body use="literal"/>
      </input>
      <output name="output2">
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="multiplicationOperation">
      <soap:operation soapAction="multiplication" style="document"/>
      <input name="input3">
        <soap:body use="literal"/>
      </input>
      <output name="output3">
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="moduloOperation">
      <soap:operation soapAction="modulo" style="document"/>
      <input name="input4">
        <soap:body use="literal"/>
      </input>
      <output name="output4">
        <soap:body use="literal"/>
      </output>
      <fault name="fault2">
        <soap:fault name="fault2" use="literal"/>
      </fault>
    </operation>
    <operation name="divisionOperation">
      <soap:operation soapAction="division" style="document"/>
      <input name="input5">
        <soap:body use="literal"/>
      </input>
      <output name="output5">
        <soap:body use="literal"/>
      </output>
      <fault name="fault1">
        <soap:fault name="fault1" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="CalculatorCAService1">
    <port binding="tns:casaBinding1" name="casaPort1">
      <soap:address location="http://LAPTOP-01JLFC6G:9080/CalculatorCAService1/casaPort1"/>
    </port>
  </service>
</definitions>
